# vscode
.vscode

# cpp
build
bin
obj

# vim
*.vim

# doxygen
documentation

# files
*.ppm

compile_commands.json
.cache

# data directory
data/output
data/input/no_git
data/input/blender
data/experiments

*.blend

test/

# profiling files
*.out
*.prof
